.botao-adicionar{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
}


.input-nomeFormulario{
    height: 30px;
    width: 250px;
}